<div id='Footer'>
    <div class="box1">
        <br>
        <p>Esta herramienta le proporcionara una ayuda a la hora de autogestionar un negocio de manera eficiente y totalmente gratuita; Sin embargo, es necesario obtener una retroalimentación del usuario para poder mejorar la experiencia y usabilidad del mismo.-</p>
        <p>Muchas Gracias.    - Reyes Emmanuel A. -</p>
    </div>
    <div class="box2" type="button" routerLink="/Home">
        <div style="text-align: center;">
            <i class="far fa-arrow-alt-circle-left"></i>
            <h3>Inicio</h3>
        </div>
    </div>  
</div>