#Footer{    
    width: 100vw;
    display: flex;
}
p{
    font-size: 12px;
    color: ghostwhite;
}

.box2{
    color: ghostwhite;
    margin-top: 20px; 
    margin-left: 30%;   
    margin-right: 50px;
}
.box1{
    margin-left: 50px;
    width: 700px;
}

@media (max-width: 800px) {
    #Footer {
        margin-right: 50px;   
    }
}
