#side{
    width: 13rem;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; 
    
}
a{
    color: white;
    cursor: pointer;
}
i{
    margin-right: 5px;
}
li:hover{
    a{ 
        font-size: 17px;
        color: rgb(0, 0, 0);
    };
}

.active{
    font-size: 17px;
    color: rgb(0, 0, 0);
}

@media (max-width: 1350px) {
    #side {
      width: 100vw;      
      text-align: center;      
    }
    .display {
        display: flex;
        flex-wrap: wrap;
        place-content: center;
    }
  }