<div id="Money">
    <div class="container">
        <div class="row" style="place-content: center;">
            <div class="card">                
                <div class="card-body" style="text-align: center;">
                    <h5 class="card-title">Dinero Disponible</h5>
                    <h2 class="card-title">${{Money}}</h2>
                    <br>
                    <hr>
                    <div class="hover">
                        <ul>
                            <li class="btnIngresar" type="button"  (click)="open('suma', 'Ingresar')">
                                <i class="fas fa-money-bill-alt"></i>
                                <a>Ingresar dinero</a>
                                <i class="fas fa-angle-right ingreso" ></i>
                            </li>
                        </ul>
                    </div>
                    <hr>
                    <div>
                        <ul>
                            <li class="btnEgresar" type="button"  (click)="open('resta', 'Egresar')">
                                <i class="fas fa-money-bill-alt"></i>
                                <a>Retirar dinero</a>
                                <i class="fas fa-angle-right egreso" ></i>
                            </li>
                        </ul>
                    </div> 
                    
                </div>
            </div>
            
            <div class="card" *ngIf="ArrayExist">
                <div class="card-body">
                    <h5>Ultimos Movimientos</h5>
                    <br>
                    <div class="table-responsive m-t-40">
                        <app-table
                            [TitleArray]='FromHistory'
                            [Array]='history'
                            [Component]='"Activity"'
                            >
                        </app-table>
                    </div>
                </div>
            </div>

        </div>
    </div> 
</div>