<div id="Balance">
    <div class="container">
        <img class='wallpaper' src="../../../assets/vector-03.jpg" alt="">
        <div class="row" style="place-content: center;">
            <div class="card">                
                <div class="card-body" style="text-align: center;">
                    <h5 class="card-title">Dinero Disponible</h5>
                    <h2 class="card-title">${{money}}</h2>
                    <br>
                    <hr>
                    <div class="hover">
                        <ul>
                            <li class="btnIngresar" type="button" routerLink='/Home/BusinessPage/Sale'>
                                <i class="fas fa-money-bill-alt"></i>
                                <a>Punto de Venta</a>
                                <i class="fas fa-angle-right ingreso" ></i>
                            </li>
                        </ul>
                    </div>
                    <hr>
                    <div>
                        <ul>
                            <li class="btnEgresar" type="button" routerLink='/Home/BusinessPage/Spending'>
                                <i class="fas fa-money-bill-alt"></i>
                                <a>Declarar Gasto</a>
                                <i class="fas fa-angle-right egreso" ></i>
                            </li>
                        </ul>
                    </div> 
                    
                </div>
            </div>
        </div>
    </div> 
</div>