<div id="whitepage">
    <br>
    <div class="container">
        <div class="row" style="place-content: center;">
            <div class="card" type='button' routerLink="/Home/UserPage/Money">
                <br>
                <img src="../../../assets/vector-01.png" class="card-img-top" alt="...">
                <div class="card-body" style="text-align: center;">
                  <h5 class="card-title">Administración Personal</h5>
                  <p class="card-text">Una manera fácil y rápida de organizar el balance financiero de tu hogar.</p>
                </div>
                <br>
            </div>
            <div class="card" type='button' routerLink="/Home/Business">
                <br>
                <img src="../../../assets/vector-02.png" class="card-img-top" alt="...">
                <div class="card-body" style="text-align: center;">
                  <h5 class="card-title">Administración Comercial</h5>
                  <p class="card-text">Una manera fácil de gestionar el balance, ingreso y egreso así como también del inventario de tu negocio.</p>                  
                </div>
                <br>
            </div>
        </div>
    </div>
</div>