#SaleFiles{
    width: calc(100vw - 13rem);
    height: calc(80vh - 50px);
    text-align: -webkit-center;
}
.card{
    min-width: 26rem;
    margin: 10px; 
    border-radius: 15px;
    box-shadow: 0px 0px 14px -7px;
}
.container{
    margin-top: 20px;
}
li{
    list-style: none;
}
@media (max-width: 1350px) {
    #SaleFiles{
        width: 100vw;
    
    }
}