#Sale{
    width: calc(100vw - 13rem);
    min-height: calc(80vh - 50px);
    text-align: -webkit-center;
    display: flex;
}
.card{
    width: 27rem;
    max-height: 32rem;
    margin: 10px; 
    border-radius: 15px;
    box-shadow: 0px 0px 14px -7px;
}
.card2{
    max-width: 40rem;
    min-width: 27rem;
    background: white;
    max-height: 32rem;
    margin: 10px; 
    border-radius: 15px;
    box-shadow: 0px 0px 14px -7px;
}
.container{
    margin-top: 20px;
    margin-left: 10px;
}
.text{
    font-size: 12px;
    color: grey;
}

@media (max-width: 580px) {
    .card2{
        max-width: 26rem;
    }
}

@media (max-width: 1350px) {
    #Sale{
        width: 100vw;
    
    }
}


